<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">CA Garage</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
       <li><a routerLink="/home">Home <span class="sr-only">(current)</span></a></li>
        <li><a routerLink="/inventory">Manage Inventory</a></li>
       <li><a routerLink="/adminbay">Admin Bay</a></li>
        <li><a routerLink="/reports">Reports</a></li>
       </ul>
      <ul class="nav navbar-nav navbar-right" [hidden]="!loggedin">
          <li class="link" ><a (click)="logOff()" >Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="jumbotron">
        <h1>{{pageTitle}}</h1>
        <p class="lead">CA Garage - Admin portal is the one stop place for managing inventory and reservations of inventory. The Admin can perform various activities and look at inventory & utilization Reports</p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Manage Inventory</h4>
          <p>You can Add new inventory, as you add new inventory the existing inventory will be shown for you</p>

          <h4>Admin Bay</h4>
          <p>Update existing inventory by updating the several fields.Assign available inventory or Return the inventory back to the pool of inventory</p>

          <h4>Search Inventory</h4>
          <p>Search existing inventory by looking up by inventory name</p>
        </div>

        <div class="col-lg-6">
          <h4>Track Violation</h4>
          <p>Track violations of Reservation through Admin Tab</p>

          <h4>Reports</h4>
          <p>Look at the utilization reports of inventory and by person. This is work in progress (WIP)</p>

          <h4>Subheading</h4>
          <p>More details to come in the future.</p>
        </div>
      </div>