
<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle + ' : '}} 
        </div>        
  
    
  <div class='panel-body'>
        <div class='row'>
            <div class='col-md-6'>
                <div class='row'>
                    <div class='col-md-3'><strong>Name:</strong></div>
                    <div class='col-md-6'>{{item | json}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'><strong>Code:</strong></div>
                    <div class='col-md-6'></div>
                </div>
                <div class='row'>
                    <div class='col-md-3'><strong>Description:</strong></div>
                    <div class='col-md-6'>Value</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'><strong>Availability:</strong></div>
                    <div class='col-md-6'>Value</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'><strong>Price:</strong></div>
                    <div class='col-md-6'>Value</div>
                </div>

            </div>
            <div class='col-md-6'>
                <div class='row'>
                    <div class='col-md-3'><strong>Name:</strong></div>
                    <div class='col-md-6'>Value</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'><strong>Code:</strong></div>
                    <div class='col-md-6'>Value</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'><strong>Description:</strong></div>
                    <div class='col-md-6'>Value</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'><strong>Availability:</strong></div>
                    <div class='col-md-6'>Value</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'><strong>Price:</strong></div>
                    <div class='col-md-6'>Value</div>
                </div>

            </div>
            
        </div>
    </div>

    <div class='panel-footer'>
         <div class="row">
           <div class='col-md-3'>
             <a class='btn btn-default' (click)='onBack()' style='width:80px'>
                <i class='glyphicon glyphicon-chevron-left'></i> Back
             </a>
             <a class='btn btn-primary' (click)='onBack()' style='width:80px'>
              <i class='glyphicon glyphicon-floppy-disk'></i> Save
            </a>
         </div>
         <div class='col-md-2'>
             <input type="text" class="form-control" placeholder="pmfkey" >
         </div>
         <div class='col-md-4'>
             <input type="text" class="form-control" placeholder="Name" >
         </div>
         <a class='btn btn-warning' (click)='onBack()' style='width:80px'>
               <i class='glyphicon glyphicon-ok-sign'></i> Assign
          </a>
       </div>
   </div>
        
        
        
        
    
    
 </div>
        