
<div class='panel panel-primary'>
    <div class='panel-heading'>
       ID:  {{inventory?.id}} , Name:  {{inventory?.name}}  
        </div>    
  <div class='panel-body'>
        <div class='row'>
            <div class='col-md-6'>
                <div class='row'>
                    <div class='col-md-3'><strong>Name:</strong></div>
                    <div class='col-md-6'>{{inventory?.name}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'><strong>Category:</strong></div>
                    <div class='col-md-6'>{{inventory?.category}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'><strong>Vendor Name:</strong></div>
                    <div class='col-md-6'>{{inventory?.vendor_name}}</div>
                </div>
            </div>
            <div class='col-md-6'>
                <div class='row'>
                    <div class='col-md-3'><strong>Vendor Contact:</strong></div>
                    <div class='col-md-6'>{{inventory?.vendor_contact}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'><strong>Cost:</strong></div>
                    <div class='col-md-6'>{{inventory?.cost | currency: 'USD':true}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'><strong>Purchase Date:</strong></div>
                    <div class='col-md-6'>{{inventory?.purchase_date}}</div>
                </div>
            </div>
            
        </div>
    </div>

    <div class='panel-footer'>
         <div class="row">
           <div class='col-md-3'>
             <a class='btn btn-default' (click)='onBack()' style='width:80px'>
                <i class='glyphicon glyphicon-chevron-left'></i> Back
             </a>
             <a class='btn btn-primary' (click)='onBack()' style='width:80px'>
              <i class='glyphicon glyphicon-floppy-disk'></i> Save
            </a>
         </div>
         <div class='col-md-2'>
             <input type="text" class="form-control" placeholder="pmfkey" >
         </div>
         <div class='col-md-4'>
             <input type="text" class="form-control" placeholder="Name" >
         </div>
         <a class='btn btn-warning' (click)='onBack()' style='width:80px'>
               <i class='glyphicon glyphicon-ok-sign'></i> Assign
          </a>
       </div>
   </div>
        
        
        
        
    
    
 </div>
        