  
<div class="container"> 
  <div [hidden]="submitted">
    <h1>Add Inventory</h1>
    <form *ngIf="active" (ngSubmit)="addInventory(inventoryForm)" #inventoryForm="ngForm">
   <div class="col-lg-6">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" required
          [(ngModel)]="model.name"
            ngControl="name"  #name="ngForm" >
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          Inventory Name is required          
        </div>
      </div>

      <div class="form-group">
        <label for="category">Category</label>
        <select class="form-control" required
          [(ngModel)]="selectedCategory" (change)="onChange($event)"
            ngControl="selectedCategory" #category="ngForm" >
          <option *ngFor="let selectedCategory of categories" [value]="selectedCategory.name">{{selectedCategory.name}}</option>
        </select>
        <div [hidden]="category.valid || category.pristine" class="alert alert-danger">
          category is required
        </div>
      </div>

      <div class="form-group">
        <label for="vendorName">Vendor Name</label>
        <input type="text" class="form-control" required
          [(ngModel)]="model.vendor_name"
            ngControl="vendorName"  #vendorName="ngForm" >
        <div [hidden]="vendorName.valid || vendorName.pristine" class="alert alert-danger">
         Vendor Name is required
        </div>
      </div>     
      
      </div>
   <div class="col-lg-6">
      
      <div class="form-group">
        <label for="vendor_contact">Vendor Contact</label>
        <input type="text" class="form-control" 
          [(ngModel)]="model.vendor_contact"
            ngControl="vendor_contact" >
      </div>
      
      <div class="form-group">
        <label for="cost">Cost</label>
        <input type="number" class="form-control"
          [(ngModel)]="model.cost"
            ngControl="cost" >
      </div>
      
      <div class="form-group">
        <label for="purchase_date">Purchase Date</label>
        <input type="date" class="form-control"
          [(ngModel)]="model.purchase_date"
            ngControl="purchase_date" >
      </div>     
 </div>
      <div class="col-lg-6">  
      <button type="submit" class="btn btn-primary" [disabled]="!inventoryForm.form.valid">
        <span class="glyphicon glyphicon-saved" aria-hidden="true"></span>Save
      </button> 
      </div>
      </form>
    
</div>      
</div>
<hr>  
      <div [hidden]="!submitted">
      <div class="alert alert-success" role="alert">
        <strong>Inventory saved!</strong> Please feel free to make corrections by clicking on Edit button...
      </div>
      </div>

<div [hidden]="!submitted">
<p-fieldset legend="Inventory Details">
    <div class="row">
      <div class="col-xs-3">Name</div>
      <div class="col-xs-9  pull-left">{{ model.name }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Category</div>
      <div class="col-xs-9 pull-left">{{selectedCategory}} </div>
    </div>
    <div class="row">
      <div class="col-xs-3">Vendor Name</div>
      <div class="col-xs-9 pull-left">{{ model.vendor_name }}</div>
    </div>    
    
    <div class="row">
      <div class="col-xs-3">Vendor Contact</div>
      <div class="col-xs-9 pull-left">{{ model.vendor_contact }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Cost</div>
      <div class="col-xs-9 pull-left">{{ model.cost | currency:'INR':true}}</div>
    </div>    
       
    <div class="row">
      <div class="col-xs-3">Purchase Date</div>
      <div class="col-xs-9 pull-left">{{ model.purchase_date }}</div>
    </div>    
    <hr>   
  <ul class="list-group">
   
    <li class="list-group-item list-group-item-info"> 
      <!--
      <a class='btn btn-default' (click)='submitted=false' style='width:80px'>
            <i class='glyphicon glyphicon-pencil'></i> Edit
        </a>
      -->   
      <a class='btn btn-warning' (click)='onBackClick()' style='width:100px'>
            <i class='glyphicon glyphicon-chevron-left'></i> Add New
      </a>
    </li>
  </ul> 
</p-fieldset>
  </div> 
 
<div [hidden]="submitted">
<p-panel>
    <header>
        <div class="ui-helper-clearfix">
            <span class="ui-panel-title" style="font-size:16px">Current Inventory</span>          
        </div>
    </header>
   <p-toolbar>    
      <div class="ui-toolbar-group-right">
          <button pButton type="button" icon="fa-search" (click)="toggleSearch()"></button>
          <i class="fa fa-bars"></i>
          <button pButton type="button" icon="fa-refresh" (click)="refreshInventory()"></button>
      </div>
      <div [hidden]="!searchInventory">
        <br><br>
        <p><input type="text" [(ngModel)]='filterString' class="form-control" placeholder="Search Inventory..."></p>  
      </div>
    </p-toolbar>
  <p-dataTable [value]="inventory | itemFilter:filterString | itemFilter:model.name" [rows]="10" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[5,10,20]" sortMode="multiple">
      <p-column field="id" header="ID" [sortable]="true"></p-column>
      <p-column field="name" header="Name" [sortable]="true"></p-column>
      <p-column field="category" header="Category" [sortable]="true"></p-column>
      <p-column field="vendor_name" header="Vendor Name" [sortable]="true"></p-column>
      <p-column field="available" header="Availability" [sortable]="true"></p-column>
  </p-dataTable>
</p-panel>
</div>