<p-messages [value]="msgs"></p-messages>
<p-panel header=" ID:  {{inventoryDetails?.id}} , Name:  {{inventoryDetails?.name}}">
        <div class='row'>
            <div class='col-md-6'>
                <div class='row'>
                    <div class='col-md-3'><strong>ID:</strong></div>
                    <div class='col-md-6' ><input type="text" #inv_id [ngModel]="inventoryDetails?.id" pInputText disabled="true" size="15"/></div>
                </div> 
                <br>
                <div class='row'>
                    <div class='col-md-3'><strong>Name:</strong></div>
                    <div class='col-md-6' ><input type="text" #inv_name [ngModel]="inventoryDetails?.name" required [disabled]="disableField" pInputText size="30"/></div>                    
                </div>
                <br>              
                <div class='row'>
                    <div class='col-md-3'><strong>Category:</strong></div>
                    <div class='col-md-6' ><input type="text" #inv_category [ngModel]="inventoryDetails?.category" required [disabled]="disableField" pInputText size="30"/></div>                    
                </div>
                <br>              
                <div class='row'>
                    <div class='col-md-3'><strong>Vendor Name:</strong></div>
                    <div class='col-md-6' ><input type="text" #inv_vendorname [ngModel]="inventoryDetails?.vendor_name" required [disabled]="disableField" pInputText size="30"/></div>                    
                </div>
                <br>
            </div>
            <div class='col-md-6'>      
                <div class='row'>
                    <div class='col-md-3'><strong>Vendor Contact:</strong></div>
                    <div class='col-md-6' ><input type="text" #inv_vendorcontact [ngModel]="inventoryDetails?.vendor_contact" required [disabled]="disableField" pInputText size="30"/></div>                    
                </div>
                <br>              
                <div class='row'>
                    <div class='col-md-3'><strong>Cost (USD$):</strong></div>
                    <div class='col-md-6' ><input type="number" #inv_cost [ngModel]="inventoryDetails?.cost" [disabled]="disableField" pInputText/></div>                    
                </div>
                <br>              
                <div class='row'>
                    <div class='col-md-3'><strong>Purchase Date:</strong></div>
                    <div class='col-md-6' >
                     <p-calendar [ngModel]="inventoryDetails?.purchase_date"  #inv_purchasedate required showIcon=true
                      maxDate="+1m" [readonlyInput]="true" [disabled]="disableField"></p-calendar></div>                        
                        

                                        
                </div>
                <br>              
                <div class='row'>
                    <div class='col-md-3'><strong>Available?:</strong></div>
                    <div class='col-md-6' >{{inventoryDetails?.available}}</div>                    
                </div>                                        
            </div>
        </div>
        <br>
 <div class='panel-footer'>
         <div class="row">
           <div class='col-md-6'>
            <button type="text" (click)='onBack()' pButton icon="fa-step-backward" label="Back"></button>                
            <button type="text" (click)='onEdit(inv_id,inv_name,inv_category,inv_vendorname,inv_vendorcontact,inv_cost,inv_purchasedate)' pButton icon="fa-save" [label]="editOrSaveMode"></button>           
           </div>
           <div class='col-md-6'>          
            <button type="text" (click)="showDialog();clear()" pButton icon="fa-external-link-square" label="Assign"></button>
           </div>  
       </div>
   </div>    
 
</p-panel>

 
<p-dialog header="Reserve Inventory" [(visible)]="display" modal="modal" showEffect="fade" width="450">
        <div class='row'>
            <div class='col-md-6'>
                <div class='row'>
                    <div class='col-md-8'><strong>PMFKEY:</strong></div>
                    <div class='col-md-6' ><input type="text" required #userid  pInputText /></div>
                </div>                
                <div class='row'>
                    <div class='col-md-8'><strong>User Name:</strong></div>
                    <div class='col-md-6'><input type="text" #username pInputText /></div>
                </div>
                <div class='row'>
                    <div class='col-md-8'><strong>Date of Return:</strong></div>
                    <div class='col-md-6'>        
                        <p-calendar [(ngModel)]="returnByDate"  #inv_date_of_return required showIcon=true placeholder="Date of return"
                        minDate="+1d" maxDate="+1m" [readonlyInput]="true"></p-calendar></div>
                    </div>    
               </div>
        </div>       
        
    <footer>
           <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
           <!--<button pButton type="button" (click)='assign(userid.value, 147)' label="Reserve"></button>-->
           <button type="button" pButton icon="fa-close" (click)="display=false" label="Cancel"></button>
           <button type="button" pButton icon="fa-check" (click)="assign(userid.value, inv_id.value, inv_date_of_return.value, username.value)" label="Assign"></button>
         </div>
    </footer>
</p-dialog>


        

   

