<div class="container">
<div class="panel panel-primary" >
  <!-- Default panel contents -->
  <div class="panel-heading">{{pageTitle}}</div>
  <div class="panel-body">
    <p>
        <input type="text" [(ngModel)]='listFilter' class="form-control" placeholder="Search Inventory...">
    </p>
  </div>
  <div class="table-responsive">  
        <table class="table table-hover table-striped"> 
            <thead> 
              <tr> <th>#ID</th> <th>Name</th> <th>Category</th><th>Vendor Name</th><th>Vendor Contact</th><th>Cost</th></tr> 
            </thead> 
            <tbody>
              <!-- # means a local variable -->
                <tr *ngFor = 'let item of inventory | itemFilter: listFilter'  >
                    <td>{{item.id}}</td>                      
                    <td>
                     <a [routerLink]="['/item',item.id]">
                     {{item.name}}
                     </a>  
                    </td>
                    <td>{{item.category}}</td>
                    <td>{{item.vendor_name}}</td>
                    <td>{{item.vendor_contact}}</td>
                    <td>{{item.cost | currency : 'USD':true }}</td>
                    </tr>
                </tbody> 
          </table>
  </div>
</div>
</div>
